

* {
    font-family:"Microsoft YaHei","Microsoft Yahei","微软雅黑",微软雅黑,"SimHei","Simhei","黑体",黑体,arial;
}

body {
    background-color:#f7f8fa;
}
nav,nav .brand-logo,nav ul  {
    color:#8590a6!important;
}
a {
	color:#607d8b!important;
}
p {
	color:#000000!important;
}
.container {

}
.quesBox {
    margin-top:30px;
    padding:20px;
    padding-top:35px;
}

.caozuo {
   color:#ffffff!important;
}

